home.erb

<a href="/">/</a>
<a href="/login">/login</a>
<a href="/signup">/signup</a>
<a href="/list">/list</a>
<a href="/list/map">/list/map</a>
<a href="/add/item">/add/item</a>
<a href="/history">/history</a>
<a href="/history/calendar">/history/calendar</a>
