<h2>Log In</h2>
<h5>Log In Failed. <%= @error_message %></h5>

<div class="form-group d-flex justify-content-start">
  <a href="/signup" class="btn btn-primary">Sign Up</a>
</div>

<div class="form-group d-flex justify-content-start">
  <a href="/login" class="btn btn-primary">Login</a>
</div>
