<h2>Log In</h2>
<form action="/login/action" method="POST">
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="name@example.com" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">Sign In</button>
    <a href="/signup" class="btn btn-secondary">Sign Up</a>
  </div>
</form>
