<h2>Sign Up</h2>
<h5>Sign Up Failed. <%= @error_message %></h5>
<% if @current_user %>
  <div class="form-group d-flex justify-content-start">
    <a href="/logout" class="btn btn-primary">Log Out</a>
  </div>
<% else %>
  <div class="form-group d-flex justify-content-start">
    <a href="/signup" class="btn btn-primary">Sign Up Again</a>
  </div>
  <div class="form-group d-flex justify-content-start">
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
<% end %>
