<h2>Stores</h2>
<% for chain in @chains_all %>
  <div class="accordion acc-movie">
    <div class="row">
      <% for store in @stores_all %>
        <% if store[:chain_id] == chain[:chain_id] %>
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 card-margin">
            <div class="card text-white bg-dark mb-6">
              <iframe class=card-img-top img-fluid" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= store[:latitude] %>,<%= store[:longitude] %>&zoom=6" allowfullscreen>
              </iframe>
              <div class="card-body">
                <h5 class="card-title"><%= chain[:chain_name] %> <%= store[:branch] %></h5>
              </div>
            </div>
          </div>
        <% end%>
      <% end %>
    </div>
  </div>
<% end %>
