.h1,
h1,
.righteous {
    font-family: 'Righteous', cursive;
}

.mt-5, .my-5 {
    margin-top: 1rem!important;
}

.pagetop {
    padding-top: 56px;
}

.card-margin {
    margin-top: 1.3rem;
}

body {
    background-color: #212529;
    padding-top: 56px;
    margin-bottom: 24px;
}

.text-darkgrey {
    color: #A9A9A9;
}

.text-grey {
    color: #808080;
}

.bg-color {
    background-color: #212529;
}

.acc-movie {
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.btn-accordion {
    font-size:1.5rem;
    text-align:left;
}

.responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }

  