.h1,
h1,
.righteous {
    font-family: 'Righteous', cursive;
}

.mt-5,
.my-5 {
    margin-top: 1rem !important;
}

.pagetop {
    padding-top: 56px;
}

.card-margin {
    margin-top: 1.3rem;
}

body {
    background-color: #212529;
    padding-top: 56px;
    margin-bottom: 24px;
}

.text-darkgrey {
    color: #A9A9A9;
}

.text-grey {
    color: #808080;
}

.bg-color {
    background-color: #212529;
}

.acc-movie {
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.btn-accordion {
    font-size: 1.5rem;
    text-align: left;
}

.responsive-table {
    li {
        border-radius: 3px !important; 
        padding: 25px 30px !important;
        display: flex !important;
        justify-content: space-between !important;
        margin-bottom: 25px !important;
    }

    .table-header {
        background-color: #95A5A6 !important;
        font-size: 14px !important;
        text-transform: uppercase !important;
        letter-spacing: 0.03em !important;
    }

    .table-row {
        background-color: #ffffff !important;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1) !important;
    }

    .col-1 {
        flex-basis: 20% !important;
    }

    .col-2 {
        flex-basis: 20% !important;
    }

    .col-3 {
        flex-basis: 10% !important;
    }

    .col-4 {
        flex-basis: 15% !important;
    }

    .col-5 {
        flex-basis: 10% !important;
    }

    .col-6 {
        flex-basis: 10% !important;
    }

    .col-7 {
        flex-basis: 15% !important;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none !important;
        }

        .table-row {}

        li {
            display: block !important;
        }

        .col {

            flex-basis: 100% !important;

        }

        .col {
            display: flex !important;
            padding: 10px 0 !important;

            &:before {
                color: #6C7A89 !important;
                padding-right: 10px !important;
                content: attr(data-label) !important;
                flex-basis: 50% !important;
                text-align: right !important;
            }
        }
    }
}